@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
}
header{
    background-color: #efb61e;
    padding: 20px 0;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    margin-left: 50px;
}
a{
    text-decoration: none;
}
.nav__anchor{
    color: #000;
    font-size: 20px;
    position: relative;
}
.nav__anchor::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    background-color: #000;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform .2s ease-in-out;
}
.nav__anchor:hover::after{
    transform: scaleX(1);
}
.image-section{
    background-color: #000;
}
.image-section__image-container{
    overflow: hidden;
    width: 33.3%;
}
.image-section__image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 0 20px;
    background: no-repeat 50% / cover;
    transition: transform .2s ease-in-out;
}
.image-section__image:hover{
    transform: scale(1.1);
}
.iamge-section__text{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 20px;
    opacity: 0;
    text-align: center;
    transform: scale(.8);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}
.image-section__image:hover .iamge-section__text{
    opacity: 1;
    transform: scale(1);
}
.text-group__container{
    padding: 50px;
}
.text-group__text{
    margin-bottom: 25px;
}
button{
    background: none;
    font-size: 18px;
    cursor: pointer;
    border: solid 2px #000;
    padding: 5px 20px;
    position: relative;
}
.button-double::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #efb61e;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease-in-out;
}
.button-double:hover::after{
    transform: scaleY(1);
}
.text-section{
    background-color: #eee;
    padding: 50px 0;
}
.text-section .wrap{
    flex-direction: column;
    justify-content: center;
}
.text-section__text{
    margin-bottom: 25px;
    text-align: center;
}
.button-main{
    background-color: #fff;
    transition: background-color .2s ease-in-out;
}
.button-main:hover{
    animation: buttonGrow 1s linear infinite alternate;
    background-color: #efb61e;
}
@keyframes buttonGrow {
    0%{
        border: solid 2px #000;
        box-shadow: 0 0 0 0 #000;
    }
    100%{
        border: solid 2px #000;
        box-shadow: 0 0 2px 2px #000;
    }
}
footer{
    background-color: #000;
    color: #efb61e;
    padding: 20px;
}
.footer__text{
    text-align: center;
    width: 100%;
}